In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./time_series.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000000 entries, 0 to 999999
Data columns (total 2 columns):
 #   Column     Non-Null Count    Dtype
---  ------     --------------    -----
 0   timestamp  1000000 non-null  object
 1   value      900960 non-null   object
dtypes: object(2)
memory usage: 15.3+ MB

In [4]:
df.describe(include = 'all')

               timestamp         value
count            1000000        900960
unique             43200          1002
top     09/06/2025 11:09  not_a_number
freq                  45         49969

In [5]:
df.isnull().sum()

timestamp        0
value        99040
dtype: int64

In [6]:
duplicates = df[df["timestamp"].duplicated(keep=False)]
if not duplicates.empty:
    print("נמצאו כפילויות לפי עמודת 'timestamp':")
    print(duplicates)

נמצאו כפילויות לפי עמודת 'timestamp':
               timestamp value
0       28/06/2025 12:00  18.5
1       01/06/2025 04:17  46.3
2       10/06/2025 17:02    76
3       23/06/2025 05:23  56.4
4       05/06/2025 07:20  67.9
...                  ...   ...
999995  21/06/2025 18:41  44.8
999996  26/06/2025 21:09   NaN
999997  24/06/2025 18:51   3.9
999998  10/06/2025 08:36    77
999999  05/06/2025 22:30  43.3

[1000000 rows x 2 columns]

In [7]:
df["timestamp"] = pd.to_datetime(df["timestamp"], format="%d/%m/%Y %H:%M", errors="coerce")
invalid_dates = df[df["timestamp"].isna()]
if not invalid_dates.empty:
    print("נמצאו תאריכים לא תקינים:")
    print(invalid_dates)
else:
    print("כל התאריכים תקינים")

כל התאריכים תקינים

In [8]:
df.replace("not_a_number", pd.NA, inplace=True)
df = df.dropna()
df = df.dropna(subset=["value"])
print(df)

                 timestamp value
0      2025-06-28 12:00:00  18.5
1      2025-06-01 04:17:00  46.3
2      2025-06-10 17:02:00    76
3      2025-06-23 05:23:00  56.4
4      2025-06-05 07:20:00  67.9
...                    ...   ...
999994 2025-06-19 09:33:00  77.1
999995 2025-06-21 18:41:00  44.8
999997 2025-06-24 18:51:00   3.9
999998 2025-06-10 08:36:00    77
999999 2025-06-05 22:30:00  43.3

[850991 rows x 2 columns]

In [9]:
df["value"] = df["value"].astype(float)

In [10]:
df["timestamp"] = pd.to_datetime(df["timestamp"])
df["timestamp_update"] = df["timestamp"].dt.hour

In [11]:
hourly_average = df.groupby("timestamp_update").agg(
    ממוצע=('value', 'mean'),
    earliest_timestamp=('timestamp', 'min')
).reset_index()

In [12]:
print(hourly_average)

    timestamp_update      ממוצע  earliest_timestamp
0                  0  49.881598 2025-06-01 00:00:00
1                  1  50.022128 2025-06-01 01:00:00
2                  2  49.809702 2025-06-01 02:00:00
3                  3  50.090993 2025-06-01 03:00:00
4                  4  49.826086 2025-06-01 04:00:00
5                  5  49.746577 2025-06-01 05:00:00
6                  6  50.047556 2025-06-01 06:00:00
7                  7  50.057262 2025-06-01 07:00:00
8                  8  49.966943 2025-06-01 08:00:00
9                  9  49.939899 2025-06-01 09:00:00
10                10  49.902881 2025-06-01 10:00:00
11                11  50.010480 2025-06-01 11:00:00
12                12  50.107006 2025-06-01 12:00:00
13                13  49.934197 2025-06-01 13:00:00
14                14  49.921057 2025-06-01 14:00:00
15                15  50.029908 2025-06-01 15:00:00
16                16  49.806968 2025-06-01 16:00:00
17                17  50.113756 2025-06-01 17:00:00
18                18  50.181965 2025-06-01 18:00:00
19                19  49.981848 2025-06-01 19:00:00
20                20  50.025097 2025-06-01 20:00:00
21                21  49.918479 2025-06-01 21:00:00
22                22  49.804356 2025-06-01 22:00:00
23                23  49.961976 2025-06-01 23:00:00